NET "DATA_L[0]" LOC = "B22";
NET "DATA_L[1]" LOC = "B21";
NET "DATA_L[2]" LOC = "B20";
NET "DATA_L[3]" LOC = "D22";
NET "DATA_L[4]" LOC = "D21";
NET "DATA_L[5]" LOC = "D19";
NET "DATA_L[6]" LOC = "G12";
NET "DATA_L[7]" LOC = "D20";

NET "DATA_R[0]" LOC = "B11";
NET "DATA_R[1]" LOC = "B10";
NET "DATA_R[2]" LOC = "F11";
NET "DATA_R[3]" LOC = "F9";
NET "DATA_R[4]" LOC = "G8";
NET "DATA_R[5]" LOC = "F8";
NET "DATA_R[6]" LOC = "F10";
NET "DATA_R[7]" LOC = "E9";

NET "LVAL" LOC = "H13";
NET "FVAL" LOC = "F13";
NET "DVAL" LOC = "G13";

NET "CCLK" LOC = "E16";

NET "VGA_R[0]" LOC = "W15";
NET "VGA_R[1]" LOC = "V15";
NET "VGA_R[2]" LOC = "U15";
NET "VGA_R[3]" LOC = "T15";
NET "VGA_R[4]" LOC = "T16";
NET "VGA_R[5]" LOC = "R16";
NET "VGA_R[6]" LOC = "Y18";
NET "VGA_R[7]" LOC = "Y19";

NET "VGA_G[0]" LOC = "F21";
NET "VGA_G[1]" LOC = "E21";
NET "VGA_G[2]" LOC = "E22";
NET "VGA_G[3]" LOC = "G21";
NET "VGA_G[4]" LOC = "V22";
NET "VGA_G[5]" LOC = "U22";
NET "VGA_G[6]" LOC = "T21";
NET "VGA_G[7]" LOC = "U21";

NET "VGA_B[0]" LOC = "AA20";
NET "VGA_B[1]" LOC = "AB21";
NET "VGA_B[2]" LOC = "AA21";
NET "VGA_B[3]" LOC = "AB22";
NET "VGA_B[4]" LOC = "Y21";
NET "VGA_B[5]" LOC = "Y22";
NET "VGA_B[6]" LOC = "W22";
NET "VGA_B[7]" LOC = "W21";

NET "VGA_HSYNC" LOC = "AB18";
NET "VGA_VSYNC" LOC = "AA19";

NET "VGA_CLK" LOC = "AB20";

NET "CLK" LOC = "E17";

NET "RST_N" LOC = "K17";

NET "UART_TXD" LOC = "U17";
NET "UART_RXD" LOC = "W16";

NET "JP[0]" LOC = "AA18";
NET "JP[1]" LOC = "W17";
NET "JP[2]" LOC = "Y17";
NET "JP[3]" LOC = "V18";
NET "JP[4]" LOC = "Y16";
NET "JP[5]" LOC = "AB17";
NET "JP[6]" LOC = "AA16";
NET "JP[7]" LOC = "AB16";

NET "DUMMY0" LOC = "Y11";
NET "DUMMY0" LOC = "Y12";
